body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #010101 0%,  #3deceb 100%); /* w3c #ff3131 #3deceb #faff31*/
}

button {
  cursor: pointer;
}
